.search-bar {
    width: 100%;
    position: relative;
    display: block;
    margin: 10px 0px;
    padding: 10px 5px;
    background-color: rgb(239, 239, 239);
    border: solid 5px rgb(230, 230, 230);
    font-size: 16px;
    color: rgb(144, 144, 144);
    font-weight: bold;
}

.search-bar:focus {
    background-color: #FFF;
    color: #000;
    outline: 0px;
}