<div class="card">
    <div id="searchbar">
        <app-autocomplete-searchbar (searchText)="onSearch($event)"></app-autocomplete-searchbar>
    </div>

    <form id="main-form" *ngIf="foundIssues && foundIssues.length">
        <app-bug-card role="button" *ngFor="let foundIssue of foundIssues; let i=index;" tabindex="i"
            (click)="onClick(foundIssue.html_url)" [issue]="foundIssue"></app-bug-card>
    </form>
    <div *ngIf="!foundIssues || !foundIssues.length">
        <p>{{screenMessage}}</p>
    </div>
</div>